/**
 * 座席予約の際に使用するCSS
 *
 * @author TAMA
 * @version 1.0
 * Created: 2016/12/12
 *
 * Updated by TAMA on 2016/12/28
 * 	- 座席レイアウトのための多少変更
 */

@charset "UTF-8";

/************************
* 選択情報
**********************/

.status {
	width: 740px;
	clear: both;
}


.status ul {
	width: 740px;
	height: 40px;
	overflow: hidden;
	border: 1px solid #888;
	border-bottom: none;
	background: white;
}

/* 総座席数、選択可能席数 */
.status ul li {
	line-height: 40px;
	float: left;
	text-align: center;
	font-size: 0.9em;
	width: 369px;
}
.status ul li:last-child {
	width: 368px;
	border-left: 1px solid #888;
}
.status ul li span {
	font-weight: bold;
	padding: 0 4px;
	color: red;
	font-size: 1.1em;
}






/************************
* 座席説明
**********************/

.status_buy {
	width: 740px;
	background: white;
	clear: both;
}

.status_buy ul {
	width: 740px;
	height: 50px;
	overflow: hidden;
	border: 1px solid #888;
	border-top: none;
}

.status_buy ul li {
	float: left;
	height: 50px;
	text-align: center;
	font-size: 0.9em;
	width: 226px;
	padding-right: 20px;
	background-size: auto;
	background-repeat: no-repeat;
}


/* 空席 */
.status_buy ul:nth-child(1) li:nth-child(1) {
	height: 40px;
	border-right: 1px solid #888;
	padding-top: 10px;
	line-height: 1.2em;
	background-image: url(../img/icon/seat@32.png);
	background-position: 160px center;
}

/*選択された座席*/
.status_buy ul:nth-child(1) li:nth-child(2) {
	border-right: 1px solid #888;
	line-height: 50px;
	background-image: url(../img/icon/seat_selected@32.png);
	background-position: 170px center;
}

/*座席販売対象外*/
.status_buy ul:nth-child(1) li:nth-child(3) {
	height: 40px;
	padding-top: 10px;
	line-height: 1.2em;
	background-image: url(../img/icon/seat_reserved@32.png);
	background-position: 160px center;
}
